name: Build and Deploy Code
on:
  push:
    branches: [push,pull_request]
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: pulling github repo
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        run: echo "hello jamshee"